LOVABLE_API_KEY=
APP_SECRET=

SUPABASE_PROJECT_ID=dvcdghmcqqfvlbzufpyy
SUPABASE_URL=https://dvcdghmcqqfvlbzufpyy.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_iqg20-V7vRrN97WXoG1miw_Jw8QR2uk
SUPABASE_SERVICE_ROLE_KEY=
